In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [ ]:
#total number of player's

In [ ]:
#Purchasing Analysis (Total

In [39]:
Unique_items = purchase_data['Item ID'].unique()
Total_Unique_items = len(Unique_items)
Total_Unique_items

mean_of_price = purchase_data['Price'].mean()
mean_of_price

sum_of_revenue = purchase_data['Price'].sum()
sum_of_revenue

unique_items = purchase_data['Item ID'].unique()
total_unique_items =  len(unique_items)
total_unique_items

total_purchase = purchase_data['Purchase ID'].count()
total_purchase

780

In [40]:
summary_table = pd.DataFrame({'Number of Unique Items': [Total_Unique_items],
                             'Average Price': mean_of_price,
                             'Number of Purchases': total_purchase,
                             'Total Revenue': sum_of_revenue})
summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [ ]:
#Gender Demographics

In [9]:

cleaning_purchase_dups = purchase_data.drop_duplicates(['SN'])
cleaning_purchase_dups

purchase_data_by_gender2 = cleaning_purchase_dups.groupby('Gender').SN.count()
purchase_data_by_gender2

percent = purchase_data_by_gender2.sum()

percent_column = round(purchase_data_by_gender2 / percent * 100,2)

#make a dataframe with purchase_data_by_gender2 and percent_column

pd.concat([purchase_data_by_gender2,percent_column], axis=1)

                        SN     SN
Gender
Female                  81  14.06
Male                   484  84.03
Other / Non-Disclosed   11   1.91

In [ ]:
#Purchasing Analysis (Gender)

In [10]:
Count_of_gender =  purchase_data['Gender'].value_counts()

Count_of_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [49]:
purchase_average = purchase_data.groupby('Gender')['Price'].mean().rename('Purchase Average')

Total_purchase = purchase_data.groupby('Gender')['Price'].sum().rename('Total Purchase')

Total_average_by_person = purchase_data.groupby(['SN', 'Gender']).sum()
Total_average_by_person = round(Total_average_by_person.groupby('Gender').mean(), 2)

In [50]:
printing_df = pd.concat([Count_of_gender, purchase_average, Total_purchase, Total_average_by_person], axis=1)

printing_df[['Gender', 'Purchase Average', 'Total Purchase', 'Price']]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

                       Gender  Purchase Average  Total Purchase  Price
Female                    113          3.203009          361.94   4.47
Male                      652          3.017853         1967.64   4.07
Other / Non-Disclosed      15          3.346000           50.19   4.56

In [ ]:
# Age Demographics

In [13]:


mybin = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 1000]


binning = pd.cut(cleaning_purchase_dups.Age, mybin)
bin_count = binning.value_counts().sort_index()

percentage_count = bin_count.sum()

mypercent = [f'{num/576*100:.2f}' for num in list(bin_count)]

In [14]:
finalbin = bin_count.to_frame()
finalbin

finalbin['Percentage of Players'] = mypercent
finalbin

                Age Percentage of Players
(0.0, 9.9]       17                  2.95
(9.9, 14.9]      22                  3.82
(14.9, 19.9]    107                 18.58
(19.9, 24.9]    258                 44.79
(24.9, 29.9]     77                 13.37
(29.9, 34.9]     52                  9.03
(34.9, 39.9]     31                  5.38
(39.9, 1000.0]   12                  2.08

In [ ]:
#Purchasing Analysis (Age)

In [15]:
bin_2 = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 1000]

purchse_count = pd.cut(purchase_data.Age, bin_2)
purchse_count1 = purchse_count.value_counts().sort_index()

Purchase_c = purchase_data.groupby(purchse_count)['Price'].mean().rename('Purchase Count')

Purchase_t =  purchase_data.groupby(purchse_count)['Price'].sum().rename('Average Purchase Price')

#can't get the last column

In [ ]:

Total_average_by_person = purchase_data.groupby(['SN', 'Gender']).sum()
Total_average_by_person = round(Total_average_by_person.groupby('Gender').mean(), 2)

In [16]:
display_df_1 = pd.concat([purchse_count1, Purchase_c, Purchase_t,], axis=1)

display_df_1

                Age  Purchase Count  Average Purchase Price
(0.0, 9.9]       23        3.353478                   77.13
(9.9, 14.9]      28        2.956429                   82.78
(14.9, 19.9]    136        3.035956                  412.89
(19.9, 24.9]    365        3.052219                 1114.06
(24.9, 29.9]    101        2.900990                  293.00
(29.9, 34.9]     73        2.931507                  214.00
(34.9, 39.9]     41        3.601707                  147.67
(39.9, 1000.0]   13        2.941538                   38.24

In [17]:
#Top Spenders,

In [57]:
group_by_SN_sum = purchase_data.groupby('SN')['Price'].sum().rename('Purchase Count')
 
group_by_SN_cnt = purchase_data.groupby('SN')['Purchase ID'].count().rename('Average Purchase Price')

group_by_SN_mean = (group_by_SN_sum / group_by_SN_cnt).rename('Total Purchase Value')

printing_spender = pd.concat([group_by_SN_sum, group_by_SN_cnt, group_by_SN_mean], axis = 1)
final_printer = printing_spender.sort_values(by=['Purchase Count'], ascending=False)
final_printer.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93             18.96                       5              3.792000
Idastidru52           15.45                       4              3.862500
Chamjask73            13.83                       3              4.610000
Iral74                13.62                       4              3.405000
Iskadarya95           13.10                       3              4.366667

In [ ]:
#Most Popular Items

In [155]:
item_name_count = purchase_data.groupby('Item ID')['Item Name'].count()
item_name_sum = purchase_data.groupby('Item ID')['Item Name','Price'].sum()

Product = pd.concat([name_ID_name, item_name_count, item_name_sum], axis=1)

ID_1 = purchase_data.loc[:, "Item ID"]
ID_2 = purchase_data.loc[:, "Item Name"]
ID_3 = purchase_data.loc[:, "Price"].rename('Item Price')
name_ID_name = pd.concat([ID_2, ID_1, ID_3], axis=1)

Product.head()

,Item Name,Item ID,Item Price,Item Name,Price
0,"Extraction, Quickblade Of Trembling Hands",108,3.53,4.0,5.12
1,Frenzied Scimitar,143,1.56,3.0,9.78
2,Final Critic,92,4.88,6.0,14.88
3,Blindscythe,100,3.27,6.0,14.94
4,Fury,131,1.44,5.0,8.50

In [156]:
item_name_count = purchase_data.groupby('Item ID')['Item Name'].count()
item_name_sum = purchase_data.groupby('Item ID')['Item Name','Price'].sum()

Product = pd.concat([name_ID_name, item_name_count, item_name_sum], axis=1)
Printer = Product.sort_values(by=['Price'], ascending=False)

ID_1 = purchase_data.loc[:, "Item ID"]
ID_2 = purchase_data.loc[:, "Item Name"]
ID_3 = purchase_data.loc[:, "Price"].rename('Item Price')
name_ID_name = pd.concat([ID_2, ID_1, ID_3], axis=1)

Printer.head()

,Item Name,Item ID,Item Price,Item Name,Price
178,"Despair, Favor of Due Diligence",57,4.60,12.0,50.76
82,Azurewrath,160,4.40,9.0,44.10
145,Hopeless Ebon Dualblade,46,1.33,9.0,41.22
92,"Betrayal, Whisper of Grieving Widows",39,3.94,8.0,39.04
103,"Thorn, Satchel of Dark Souls",7,1.33,8.0,34.80