In [10]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [11]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [12]:
Unique_items = purchase_data['Item ID'].unique()
Total_Unique_items = len(Unique_items)
Total_Unique_items

183

In [13]:
mean_of_price = purchase_data['Price'].mean()
mean_of_price

3.050987179487176

In [14]:
sum_of_revenue = purchase_data['Price'].sum()
sum_of_revenue

2379.77

In [15]:
unique_items = purchase_data['Item ID'].unique()
total_unique_items =  len(unique_items)
total_unique_items

183

In [16]:
total_purchase = purchase_data['Purchase ID'].count()
total_purchase

780

In [17]:
summary_table = pd.DataFrame({'Number of Unique Items': [Total_Unique_items],
                             'Average Price': mean_of_price,
                             'Number of Purchases': total_purchase,
                             'Total Revenue': sum_of_revenue})
summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [18]:
#not working 
cleaning_purchase_dups = purchase_data.drop_duplicates(['SN'])
cleaning_purchase_dups

purchase_data_by_gender2 = cleaning_purchase_dups.groupby('Gender').SN.count()
purchase_data_by_gender2

percent = purchase_data_by_gender2.sum()

percent_column = round(purchase_data_by_gender2 / percent * 100,2)

#make a dataframe with purchase_data_by_gender2 and percent_column

pd.concat([purchase_data_by_gender2,percent_column], axis=1)

                        SN     SN
Gender
Female                  81  14.06
Male                   484  84.03
Other / Non-Disclosed   11   1.91

In [19]:
Count_of_gender =  purchase_data['Gender'].value_counts()

Count_of_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [53]:
purchase_average = purchase_data.groupby('Gender')['Price'].mean().rename('Purchase Average')

Total_purchase = purchase_data.groupby('Gender')['Price'].sum().rename('Total Purchase')

Total_average_by_person = purchase_data.groupby(['SN', 'Gender']).sum()
Total_average_by_person = Total_average_by_person.groupby('Gender').mean()

In [55]:
#need to change names, and add '$', and set the right .00 placing

printing_df = pd.concat([Count_of_gender, purchase_average, Total_purchase, Total_average_by_person], axis=1)

printing_df[['Gender', 'Purchase Average', 'Total Purchase', 'Price']]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

                       Gender  Purchase Average  Total Purchase     Price
Female                    113          3.203009          361.94  4.468395
Male                      652          3.017853         1967.64  4.065372
Other / Non-Disclosed      15          3.346000           50.19  4.562727

In [13]:
#not working

mybin = [0, 10, 14, 15., 19, 20, 24, 25, 29, 30, 34, 35, 39, 40]


binning = purchase_data.groupby(pd.cut(purchase_data.Age, mybin))
binning.Age.count()

Age
(0.0, 10.0]      32
(10.0, 14.0]     19
(14.0, 15.0]     35
(15.0, 19.0]    101
(19.0, 20.0]     99
(20.0, 24.0]    266
(24.0, 25.0]     59
(25.0, 29.0]     42
(29.0, 30.0]     35
(30.0, 34.0]     38
(34.0, 35.0]     14
(35.0, 39.0]     27
(39.0, 40.0]      6
Name: Age, dtype: int64

In [14]:
#Top Spenders

In [36]:
Count_Spending = purchase_data.groupby('SN').count()
Count_Spending.max

<bound method DataFrame.max of                  Purchase ID  Age  Gender  Item ID  Item Name  Price
SN
Adairialis76               1    1       1        1          1      1
Adastirin33                1    1       1        1          1      1
Aeda94                     1    1       1        1          1      1
Aela59                     1    1       1        1          1      1
Aelaria33                  1    1       1        1          1      1
Aelastirin39               2    2       2        2          2      2
Aelidru27                  1    1       1        1          1      1
Aelin32                    3    3       3        3          3      3
Aelly27                    2    2       2        2          2      2
Aellynun67                 1    1       1        1          1      1
Aellyria80                 1    1       1        1          1      1
Aelollo59                  2    2       2        2          2      2
Aenarap34                  1    1       1        1          1      1
Aeral43                    1    1       1        1          1      1
Aeral68                    1    1       1        1          1      1
Aeral97                    1    1       1        1          1      1
Aeralria27                 1    1       1        1          1      1
Aeralstical35              1    1       1        1          1      1
Aeri84                     1    1       1        1          1      1
Aerillorin70               1    1       1        1          1      1
Aerithllora36              2    2       2        2          2      2
Aerithnucal56              1    1       1        1          1      1
Aerithnuphos61             1    1       1        1          1      1
Aerithriaphos45            1    1       1        1          1      1
Aerithriaphos46            1    1       1        1          1      1
Aesri53                    1    1       1        1          1      1
Aesty53                    2    2       2        2          2      2
Aestysu37                  2    2       2        2          2      2
Aesur96                    1    1       1        1          1      1
Aesurstilis64              1    1       1        1          1      1
...                      ...  ...     ...      ...        ...    ...
Undosia27                  1    1       1        1          1      1
Undosian34                 2    2       2        2          2      2
Undotesta33                1    1       1        1          1      1
Wailin72                   1    1       1        1          1      1
Yadacal26                  2    2       2        2          2      2
Yadaisuir65                1    1       1        1          1      1
Yadam35                    1    1       1        1          1      1
Yadanu52                   1    1       1        1          1      1
Yadaphos40                 2    2       2        2          2      2
Yalae81                    2    2       2        2          2      2
Yalaeria91                 1    1       1        1          1      1
Yaliru88                   1    1       1        1          1      1
Yalo85                     1    1       1        1          1      1
Yalostiphos68              1    1       1        1          1      1
Yana46                     1    1       1        1          1      1
Yarithllodeu72             1    1       1        1          1      1
Yarithrgue83               1    1       1        1          1      1
Yarithrin84                1    1       1        1          1      1
Yarithsurgue62             1    1       1        1          1      1
Yarolwen77                 1    1       1        1          1      1
Yasrisu92                  1    1       1        1          1      1
Yastyriaphos75             1    1       1        1          1      1
Yasur35                    1    1       1        1          1      1
Yasur85                    1    1       1        1          1      1
Yathecal72                 1    1       1        1          1      1
Yathecal82                 3    3       3        3          3      3
Yathedeu43                 2    2       2        2          2      2
Yoishirrala98              1    1       1        1          1      1
Zhisrisu83                 2    2       2        2          2      2
Zontibe81                  3    3       3        3          3      3

[576 rows x 6 columns]>